#login-sign-in-forms {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    min-width: 100vw;
    z-index: 1;
}

#forms-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 35px 60px 45px;
    border: 4px solid #d4af37;
    box-shadow: 1px 1px 20px #d4af37;
    border-radius: 30px;
    background: linear-gradient(to left, #ffffff 50%, #1b5928 50%);
}

#forms-border img {
    width: 50px;
}

#corner-up-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

#corner-down-left {
    position: absolute;
    bottom: 0;
    right: 305px;
}

#login-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form p {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 45px;
    color: #1b5928;
}

#sign-in-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-form p {
    position: absolute;
}

#login { /*El form directamente*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 324px;
}

#sign-in { /*El form directamente*/
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-left: 324px;
}

label {
    text-align: center;
    font-size: 30px;
}

.form-inputs {
    text-align: center;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 0px;
    outline: none;
    padding: 5px;
    width: 250px;
}

.submit-button {
    font-size: 25px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    transition: .2s ease-in-out;
}

.submit-button:hover {
    background-color: rgb(139, 139, 139);
    cursor: pointer;
}

.submit-button:active {
    transform: scale(.9);
}