body {
    background-image: url(/imgs/background.jpg);
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 230px;
}

.counter {
    text-align: center;
    font-size: 30px;
}

img {
    width: 150px;
}

#cards-deck {
    position: relative;
    right: 100px;
    border-radius: 8px;
    margin-left: 150px;
}

#dealer-side {
    display: flex;
    align-items: center;
    gap: 300px;
}

#player-side {
    display: flex;
    align-items: center;
    gap: 300px;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 640px;
}

li {
    display: flex;
    margin: 10px 0px 0px 10px;
    list-style: none;
    transition: .3s ease-in-out;
}

#dealer-deck li {
    transform: translateY(-400px);
}

#player-deck li {
    transform: translateY(400px);
}

.card-visible {
    transform: translateY(0px);
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 250px;
}

button {
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 30px;
    width: 200px;
    background-color: rgb(172, 77, 77);
    transition: .2s ease-in-out;
}

button:hover {
    background-color: rgb(121, 53, 53);
    cursor: pointer;
}

button:active {
    transform: scale(.9);
}

#hit {
    
}

#stand {
    background-color: rgb(176, 176, 176);
}

#stand:hover {
    background-color: rgb(94, 94, 94);
}

dialog {
    text-align: center;
}